


    <section class="main-image">
        <img src="assets\homepage.webp" alt="TrainerHub homepage banner">
        <h1>TrainerHub</h1>
            <p>Your ultimate solution for managing trainers and training requirements.</p>
        
    </section>

    <section class="welcome-section">
        <h2>Welcome to TrainerHub</h2>
        <p>Streamline your training needs with TrainerHub. We offer a comprehensive platform for managing trainers, tracking requirements, and ensuring efficient execution of training programs.</p>
    </section>

