/* Heading */
h2 {
  font-size: 22px;
  font-weight: 600;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
}

/* Horizontal Line */
hr {
  border: none;
  border-top: 4px solid #007bff;
  margin-bottom: 20px;
}

/* Filter Dropdown */

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

select {
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #8c7f7f;
  border-radius: 4px;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px 14px;
  text-align: center;
}

thead {
  background-color: #007bff;
}

th {
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

/* Table Rows */
tr:nth-child(even) {
  background-color: #fafafa;
}

/* Action Buttons */
button {
  background-color: #1d699c;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 0 4px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 14px;
  align-items: center;
}

button:hover {
  background-color: #2980b9;
}

/* No Feedback Message */
div[ng-reflect-ng-if="!feedbacks"] {
  margin-top: 20px;
  font-style: italic;
  color: #888;
  text-align: center;
}

/* Modal Sections */
div[u],
div[t] {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

div[u] h3,
div[t] h3 {
  margin-top: 0;
  font-size: 18px;
  color: #2c3e50;
}

div[u] p,
div[t] p {
  margin: 6px 0;
  font-size: 14px;
  color: #555;
}

div[u] button,
div[t] button {
  float: right;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 3px;
}

/* Modal Overlay */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  /* semi-transparent overlay */
  backdrop-filter: blur(6px);
  /* this line adds the blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content Box */
.modal-content {
  background-color: #fff;
  padding: 20px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  position: relative;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}